.imagem2{
    background-image: url(https://th.bing.com/th/id/OIP._w6qkOlAjQP72a1oQSqQ3wHaHT?pid=ImgDet&w=193&h=189&c=7&dpr=1,5);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textos2{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
}